{% extends "layout.html" %}

{% block content %}
{{page.urlTitle}}

<h3>Edit Your Page!</h3>
<hr>
<form method="POST" action="/wiki/{{page.urlTitle}}/edit">

<div class="row">
<label for="author_name" class="col-sm-2 control-label space">Author Name</label><br>
<div class="col-sm-10">
  <input name="author_name" value="{{page.Author.name}}"" type="text" class="form-control"/>
</div>
</div>

<div class="row">
<label for="author_email" class="col-sm-2 control-label space">Author Email</label><br>
<div class="col-sm-10">
  <input name="author_email" value="{{page.Author.email}}" input type="email" class="form-control"/>
</div>
</div>

<div class="row">
<label for="title" class="col-sm-2 control-label space">Page Title</label><br>
<div class="col-sm-10">
  <input name="title" type="text" value='{{page.title}}' class="form-control"/>
</div>
</div>

<div class="row">
<label for="tags" class="col-sm-2 control-label space">Tags</label><br>
<div class="col-sm-10">
  <input name="tags" type="text" class="form-control" value="{{page.tags}}" />
</div>
</div>

<div class="row">
<label for="page_content" class="col-sm-2 control-label space">Page Content</label><br>
<div>
  <textarea name="page_content" rows=15 class='form-control'>{{page.content}}</textarea>
</div>
</div>

<div class='row space'>
<input type="radio" name="status" value="open" checked> Open<br>
  <input type="radio" name="status" value="closed"> Closed<br>
 </div>

 <div class='row space'>
  <button type="submit" class="btn btn-warning">Edit Wiki</button>
</div>

</form>
{% endblock %}