{% extends "layout.html" %}

{% block content %}
<h3>Search Pages by Tag Name!</h3>
<hr>
<form method="GET" action="/wiki/search">

<div class="row">
<label for="tagsearch" class="col-sm-2 control-label space">Search By Tag Name</label><br>
<div class="col-sm-10">
  <input name="tag_name" type="text" class="form-control"/>
</div>
</div>


 <div class='row space'>
  <button type="submit" class="btn btn-success" style='margin-left: 175px'>Search</button>
</div>

</form>



  <h3>Pages</h3>
  <hr>
  {% if pages.length %}
  <ul class="list-unstyled">
    <!-- PLACEHOLDER LIST OF PAGES -->
    {% for page in pages %}
    	<li>
    		<a href="/wiki/{{page.urlTitle}}">{{page.title}}</a>  
    		<small><a href="/wiki/users/{{page.Author.id}}">{{page.Author.name}}</a> </small>
    	</li>
    {% endfor %}
  </ul>

   {% else %}

   No Matches Found!

     {% endif %}


















{% endblock %}

