{% extends "layout.html" %}
   


<!-- pg: {{pg}} -->

{% block content %}
{% autoescape false %}

<div class='row' style='padding-top: 20px'>
 	{% for tag in page.tags %}
  		<a href="/wiki/search/?tag_name={{tag}}" class='btn btn-xs btn-warning'>{{tag}}</a>
  {% endfor %}
</div>
  

  <h3>{{page.title}}<small> (<a href="{{page.urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="/wiki/users/{{page.Author.id}}">{{page.Author.name}}</a></h4>

  
  <hr/>
  <div class="page-body">{{page.renderedContent}}</div>
  <hr/>
  <a href="{{page.urlTitle}}/edit" class="btn btn-primary" value="{{page.urlTitle}}">edit this page</a>
  
<form method="DELETE" action="/wiki/{{page.urlTitle}}">
  <input name="delete_wiki_url" input type="hidden" value="{{page.urlTitle}}"/>
  <button type="submit" class="btn btn-danger">Delete This Wiki</button>
</form>
  


  <hr/>







{% endautoescape %}

{% endblock %}